.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__name
        shio
      %ul.side-header__box__icons
        %li.side-header__box__icons__new-group
          = link_to "#" do
            %i.fa.fa-edit
        %li.side-header__box__icons__edit-user
          = link_to "#" do
            %i.fa.fa-cog
  .groups
    .group
      %p.group__group-name
        hahaha
      %p.group__latest-message
        aaaaaaaaaaa
    .group
      %p.group__group-name
        nanana
      %p.group__latest-message
        bbbbbbbbbbb